body {
	background-color: #efefef;
}

.section-title {
	margin-top: 30px;
}

.health-section-wrapper {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	gap: 40px 40px;
}

.health-new-block {
	display: flex;
	gap: 20px;
	justify-content: center;
	background-color: #fff;
	padding: 20px;
}

.health-new-block.main-health-new-block {
	width: 100%;
	justify-content: space-between;
}

.fd-row {
	flex-direction: row;
}

.fd-column {
	flex-direction: column;
	justify-content: start;
}

.fd-column .text-content {
	height: 100%;
}

.text-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.new-title {
	font-size: 24px;
	font-weight: 600;
}

.new-text {
	font-size: 20px;
	font-weight: 400;
}

.publish-time {
	font-size: 16px;
	margin-top: auto;
}

.main-health-new-block img {
	width: 80%;
	min-width: 560px;
	height: 100%;
	object-fit: cover;
}

.health-new-block.fd-row img {
	width: 50%;
}

a.health-button,
a.recommend-button {
	cursor: pointer;
	font-size: 12px;
	padding: 2px 4px;
	color: rgb(5, 102, 199);
	border: 1px solid rgb(225, 228, 230);
}

a.recommend-button {
	color: #fff;
	background-color: rgb(5, 102, 199);
}

.new-health-row {
	display: flex;
	gap: 40px;
}

.new-health-row .health-new-block {
	width: 33%;
}

@media (max-width: 960px) {
	.main-health-new-block {
		justify-content: center;
		align-items: center;
	}
	.main-health-new-block img.health-image {
		min-width: auto;
		width: auto;
	}
	.fd-row {
		flex-direction: column;
	}
	.new-health-row .health-new-block {
		width: 100%;
	}
	.health-new-block.fd-row img {
		width: 100%;
		height: 580px;
		object-fit: cover;
	}
}

@media (max-width: 768px) {
	main img,
	main .health-new-block.fd-row img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
	.new-title {
		font-size: 20px;
	}
	.new-text {
		font-size: 18px;
	}
	.publish-time {
		font-size: 14px;
	}
}
